$midbight-green: #014e56;
$light-coral: #f67e7e;
$white: #fff;

$rapture-blue: #79c8c7;
$police-blue: #2c6269;
$deep-jungle-green: #004047;
$state-green: #012f34;
$dark-green: #002529;

$big-text-fs: 15rem;
$big-text-lh: 0.48;

$h1-big-fs: 10rem;
$h1-big-lh: 1;

$h1-fs: 64px;
$h1-lh: 0.8;

$h2-fs: 4.8rem;
$h2-lh: 1;

$h3-fs: 1.8rem;
$h3-lh: 1.15;

$body-fs: 1.8rem;
$body-lh: 1.5;

$body-small-fs: 1.5rem;
$body-small-lh: 1.6;

$body-font: "Livvic", serif;
