.btn {
  display: flex;
  align-items: center;
  width: 155px;
  height: 48px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 24px;
}

.btn__light {
  transition: 0.3s;
  border: 3px solid #fff;
  font-size: $h3-fs;
  line-height: $h3-lh;
  background-color: transparent;
  &:hover {
    background-color: $white;
    color: $dark-green;
  }
}

.btn__dark {
  color: $state-green;
  border: 3px solid $state-green;
  background-color: transparent;
  &:hover {
    color: $white;
    background-color: $state-green;
  }
}

.btn__secondary {
  border-color: $white;
  background-color: $white;
  color: $dark-green;
  &:hover {
    background-color: $rapture-blue;
  }
}
